.App {
  text-align: center;
}

.app-form{
  padding: 30px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;

  
}

.form-control{
  display: flex !important;
  flex-direction: row !important;
}

.form-input{
  flex: 1;
}
.form-button{
  flex : 0;
}

.icon-button{
margin-right: 20px;
}